.markdown > h2 {
  @apply text-3xl font-black mt-8 mb-4;
}

.markdown > h3 {
  @apply text-2xl font-black mt-8 mb-4;
}

.markdown > h4 {
  @apply font-black uppercase mt-8 mb-4;
}

.markdown > h5 {
  @apply text-sm font-black mt-8 mb-4;
}

.markdown > h6 {
  @apply text-xs font-black mt-8 mb-4;
}

.markdown a {
  @apply text-blue-600;
}


.markdown > p {
  @apply mb-4;
}

.markdown > blockquote {
  @apply -ml-8 mb-4;
}

.markdown ul {
  @apply list-disc mb-4;
}

.markdown ol {
  @apply list-decimal mb-4;
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
  background-color: #666;

}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #ccc;
}

