/* Notion Color Table */

.theme-light {
  --text-notion-DEFAULT: hsl(45, 8%, 20%);
  --text-notion-gray: hsl(45, 2%, 60%);
  --text-notion-orange:hsl(30, 89%, 45%);
  --text-notion-red: hsl(0, 72%, 56%);
  --text-notion-purple:hsl(264, 44%, 45%);
  --text-notion-brown: hsl(19, 27%, 31%);
  --text-notion-pink: hsl(324, 74%, 39%);
  --text-notion-yellow: hsl(46, 99%, 44%);
  --text-notion-blue: hsl(198, 87%, 32%);
  --text-notion-green: hsl(172, 78%, 27%);
/* backgrounds */
  --bg-notion-DEFAULT: hsl(0, 0%, 100%);
  --bg-notion-gray: hsl(210, 5%, 93%);
  --bg-notion-orange: hsl(29, 74%, 92%);
  --bg-notion-red: hsl(0, 74%, 94%);
  --bg-notion-purple: hsl(266, 35%, 92%);
  --bg-notion-brown: hsl(20, 12%, 90%);
  --bg-notion-pink: hsl(326, 49%, 92%);
  --bg-notion-yellow: hsl(45, 80%, 92%);
  --bg-notion-blue: hsl(198, 42%, 91%);
  --bg-notion-green: hsl(169, 31%, 90%);
  --bg-notion-code: hsl(45, 20%, 96%);
}
.theme-dark {
  --text-notion-DEFAULT: hsl(0, 0%, 90%);
  --text-notion-gray: hsla(195, 2%, 60%, 0.95);
  --text-notion-orange:hsl(30, 100%, 63%);
  --text-notion-red: hsl(4, 100%, 71%);
  --text-notion-purple:hsl(265, 57%, 64%);
  --text-notion-brown: hsl(18, 19%, 48%);
  --text-notion-pink: hsl(328, 71%, 61%);
  --text-notion-yellow: hsl(48, 100%, 64%);
  --text-notion-blue: hsl(203, 53%, 56%);
  --text-notion-green: hsl(169, 38%, 49%);
/* backgrounds */
  --bg-notion-DEFAULT: hsl(203, 8%, 20%);
  --bg-notion-gray: hsl(200, 6%, 29%);
  --bg-notion-orange: hsl(31, 21%, 29%);
  --bg-notion-red: hsl(0, 16%, 30%);
  --bg-notion-purple: hsl(252, 16%, 29%);
  --bg-notion-brown: hsl(0, 2%, 26%);
  --bg-notion-pink: hsl(318, 17%, 28%);
  --bg-notion-yellow: hsl(54, 20%, 29%);
  --bg-notion-blue: hsl(202, 22%, 27%);
  --bg-notion-green: hsl(177, 18%, 25%);
  --bg-notion-code: hsl(203, 6%, 26%);

  /* --accent: #fc7753; */
}
.bg-header{
  /* background:
    linear-gradient(
      rgba(0,0,0,0.1),
      rgb(0,0,0)
    ); */
}
.text-gray{
  color: hsl(45, 2%, 60%);
}
.bg-nav-bottom{
  background:
    linear-gradient(
      rgba(0,0,0,0.1),
      rgb(0,0,0,0.5)
    );
  background-size: cover;

}
.bg-nav-top{
  background:
    linear-gradient(
      rgb(0,0,0,0.5),
      rgba(0,0,0,0.1)
    );
  background-size: cover;

}
.stroked {
   -webkit-text-stroke: 1px white;
   color: hsl(198, 87%, 32%);
   font-weight: 900;
   text-shadow:
       3px 3px 0 white,
     -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}




.dark-button {
	 box-sizing: border-box;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-top: 10px;
}
 .dark-button:before, .dark-button:after {
	 box-sizing: border-box;
}
 .dark-button label {
	 position: relative;
	 display: block;
	 width: 45px;
	 height: 25px;
	 border-radius: 100px;
	 background-color: #252525;
	 overflow: hidden;
	 cursor: pointer;
}
 .dark-button label:before, .dark-button label:after {
	 display: block;
	 position: absolute;
	 content: "";
	 width: 19px;
	 height: 19px;
	 border-radius: 50%;
	 top: 3px;
	 left: 3px;
	 transition: 0.4s ease;
}
 .dark-button label:before {
	 background-color:hsl(46, 99%, 44%);
}
 .dark-button label:after {
	 background-color: #252525;
	 left: -58px;
	 transform: scale(0.00001);
}
 .dark-button input[type="checkbox"] {
	 display: none;
}
 .dark-button input[type="checkbox"]:checked + label:before {
	 background-color: hsla(195, 2%, 60%, 0.95);;
	 transform: translateX(20px);
}
 .dark-button input[type="checkbox"]:checked + label:after {
	 transform: translateX(75px) scale(1);
}



